@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 120vh;
  text-align: center;
}

.question-section {
  width: 100%;
}

.question-count {
  padding-bottom: 4px;
  border-bottom: 3px solid black;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
}

.question-text {
  margin-top: 10px;
  height: 150px;
  font-weight: 600;
  font-size: 33px;
  transition: all 0.3s;
}

.answer-section {
  width: 50%;
}

.answer-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 0px 93px;
  border-radius: 10px;
  width: 100%;
  height: 80px;
  font-size: 20px;
  font-weight: 700;
  transform: translateX(-4px) translateY(-4px);
  transition: all 0.2s;
}

.answer-section button:nth-child(1) {
  border: 4px solid #15451f;
  background-color: #89db9b;
  color: #0d2b14;
  box-shadow: 4px 4px 0px 0px #15451f;
}

.answer-section button:nth-child(1):hover {
  background-color: #34ab4e;
  transform: none;
  box-shadow: none;
}

.answer-section button:nth-child(2) {
  border: 4px solid #15451f;
  background-color: #89db9b;
  color: #0d2b14;
  box-shadow: 4px 4px 0px 0px #15451f;
}

.answer-section button:nth-child(2):hover {
  background-color: #34ab4e;
  transform: none;
  box-shadow: none;
}

.answer-section button:nth-child(3) {
  border: 4px solid #15451f;
  background-color: #89db9b;
  color: #0d2b14;
  box-shadow: 4px 4px 0px 0px #15451f;
}

.answer-section button:nth-child(3):hover {
  background-color: #34ab4e;
  transform: none;
  box-shadow: none;
}

.answer-section button:nth-child(4) {
  border: 4px solid #15451f;
  background-color: #89db9b;
  color: #0d2b14;
  box-shadow: 4px 4px 0px 0px #15451f;
}

.answer-section button:nth-child(4):hover {
  background-color: #34ab4e;
  transform: none;
  box-shadow: none;
}

.answer-section button:nth-child(5) {
  border: 4px solid #15451f;
  background-color: #89db9b;
  color: #0d2b14;
  box-shadow: 4px 4px 0px 0px #15451f;
}

.answer-section button:nth-child(5):hover {
  background-color: #34ab4e;
  transform: none;
  box-shadow: none;
}

.answer-section button:nth-child(6) {
  border: 4px solid #15451f;
  background-color: #89db9b;
  color: #0d2b14;
  box-shadow: 4px 4px 0px 0px #15451f;
}

.answer-section button:nth-child(6):hover {
  background-color: #34ab4e;
  transform: none;
  box-shadow: none;
}

.score-section {
  padding-bottom: 4px;
  width: 100%;
}

.score-section h2 {
  font-size: 32px;
}

.score-section h3 {
  margin: 10px 0px 10px 0px;
}

.score-section img {
  height: 30px;
  width: 30px;
}

.score-section p {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
}

.score-section span {
  font-size: 24px;
  font-weight: 400;
}

.rightAnwsers,
.wrongAnwsers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.messages {
  border-top: 3px solid black;
  width: 100%;
}

.messages img {
  margin-top: 20px;
  width: auto;
  height: 250px;
}

.messageResult {
  margin-top: 40px;
}